.Bottom-Page {
  position: absolute;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  text-align: center;
}
/* Mobile on portrait mode */
@media only screen and (max-width: 480px) {

}
/* Mobile in landscape mode */
@media only screen and (max-width: 1024px) and (max-height: 480px) {

}
/* iPad in portrait mode */
@media only screen and (max-width: 1024px) and (min-width: 481px) {
}