.Bottom-Page-Lower {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 2rem;
}
.Show-Div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.Bottom-Page-Lower-Title {
  font-size: 2.5rem;
  text-align: center;
  width: 40%;
  font-weight: 600;
}
.Bottom-Page-Button {
  width: 12.8rem;
  height: 2.7rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 1rem;
  background-color: black;
  border: none;
  cursor: pointer;
  transition: 0.16s;
}
.Bottom-Page-Button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
  transition: 0.16s;
}
.Lower-Lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
}
.Lower-Left,
.Lower-Right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
}
.Lower-Right {
  justify-content: flex-end;
  padding-right: 1rem;
}
.Lower-Left-Cortex {
  height: 3.2rem;
}
.Lower-Left-Cortex-Name {
  font-size: 1.5rem;
  font-weight: 500;
}
.Lower-Left-Copyrights {
  font-size: 1rem;
  width: 10rem;
  color: grey;
  margin-left: 4rem;
}
.Option {
  font-size: 0.8rem;
  cursor: pointer;
  margin-right: 1rem;
  color: grey;
}
.Comezar {
  height: 3rem;
  width: 10rem;
  background-color: black;
  border-radius: 0.8em;
  color: #ffff00;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.08rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 0.8rem #ffff00;
}
