.Stat {
  position: relative;
  opacity: 0;
  transform: translateY(1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
  font-weight: 700;
  font-size: 3rem;
  color: black;
  text-align: center;
}
@keyframes fadeInAndUp {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Animate {
  animation: fadeInAndUp 0.5s forwards;
}
.Stat-Number {
  font-weight: 700;
  font-size: 3rem;
}
.Stat-Upper {
  display: flex;
  flex-direction: row;
}
.Stat-Lower {
  font-size: 1.2rem;
}
/* Mobile on portrait mode */
@media only screen and (max-width: 480px) {

}
/* Mobile in landscape mode */
@media only screen and (max-width: 1024px) and (max-height: 480px) {

}
@media only screen and (max-width: 480px) {
  .Stat {
    position: relative;
    opacity: 0;
    transform: translateY(1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    font-weight: 600;
    font-size: 2rem;
    color: black;
    text-align: center;
  }
  .Stat-Number {
    font-weight: 700;
    font-size: 2rem;
  }
  .Stat-Upper {
    display: flex;
    flex-direction: row;
  }
  .Stat-Lower {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 480px) {
  .Stat {
    position: relative;
    opacity: 0;
    transform: translateY(1rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    font-weight: 600;
    font-size: 2rem;
    color: black;
    text-align: center;
  }
  .Stat-Number {
    font-weight: 700;
    font-size: 2rem;
  }
  .Stat-Upper {
    display: flex;
    flex-direction: row;
  }
  .Stat-Lower {
    font-size: 1rem;
  }
}
/* iPad in portrait mode */
@media only screen and (max-width: 1024px) and (min-width: 481px) {

}