.App * {
  margin: 0;
  padding: 0;
}
.App,
.Headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.App {
  overflow-x: hidden;
  justify-content: center;
}
.App * {
  margin: 0;
}
.Scans-Image-1 {
  width: 100%;
  height: 100vh;
  opacity: 0.95;
}
.Headings {
  position: absolute;
  top: 20%;
  width: 100%;
  color: white;
  text-align: center;
}
.Main-Heading {
  width: 47%;
  font-size: 3rem;
  font-weight: 600;
}
.Sub-Heading {
  font-size: 1.5rem;
  font-weight: 300;
  width: 50%;
}

.Second_Screen {
  padding-top: 4.5rem;
  width: 100%;
  height: 100%;
  background-color: black;
}

.heading_banner_title {
  position: absolute;
  top: 20%;
  font-size: 2rem;
  font-weight: 600;
}

.highlight_box {
  width: 100%;
  background-color: #e8ebe8;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight_box2 {
  z-index: 1;
  width: 100%;
  background-color: #fbfbfb;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover_box_wrapper {
  z-index: 1;
  position: absolute;
  top: 30%;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hover_box {
  width: 20rem;
  height: 18rem;
  background-color: #d9d9d9;
  margin: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}
.hover_box_title {
  padding-top: 40%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.hover_box_subheading {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.dropdown {
  width: 400px;
  /* height: 100vh; */
}

.dropdown {
  width: 400px;
  margin: 25px auto;
  position: relative;
}

.dropdown .dropdown-btn {
  padding: 15px 20px;
  background:#fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;

}

.dropdown .dropdown-content {
  /* position: absolute; */
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 95%; 
}

.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #FBFBFB;
}


.headerDropdown {
  margin: auto;
  text-align: center;

  color: #332;
  margin: auto;

}
.gender {
  height: 300px;
  width: 600px;
  background-color: white;
  /* background-color: green; */
  /* box-shadow: 0 2px  rgba(0, 0, 0, 0.4); */

}

.subtextDropdown {
  margin: auto;
  text-align: center;
  margin-top: 25px;
  color: gray;

}

.purpleButton {
  padding: auto;
  margin-left: 175px;
  /* text-align: center; */
  /* margin: auto; */
  background-color: #7D568F;
  width: 250px;
  height: 60px;
  border-radius: 800px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: none;
  box-shadow: inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}